@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

svg {
  display: block;
  max-width: 100%;
}

select {
  font: inherit;
}

h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.first-section {
  background-color: aqua;
}

.destinations {
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.destinations__populartext {
  max-width: 3ch;
  font-family: "Playfair Display", serif;
  padding: 0.5rem 0rem;
  font-size: 1.5rem;
  border-bottom-width: thick;
  border-bottom: 2px solid #ffa500;
  text-underline-offset: 0.8rem;
}
.destinations__text2 {
  font-family: "Rubik", sans-serif;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.destinations__imgHeight {
  max-height: 300px;
}
.destinations__photos {
  overflow: hidden;
  gap: 1.5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
}
.destinations__nav {
  justify-content: space-evenly;
  margin-left: 1%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.special-offer {
  background-color: rgb(255, 255, 255);
}

.our-blog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}
.our-blog__tittletext {
  font-family: "Playfair Display", serif;
  padding: 0.5rem 0rem;
  font-size: 1.5rem;
  border-bottom-width: thick;
  border-bottom: 2px solid #ffa500;
  text-underline-offset: 0.8rem;
}
.our-blog__smalltext {
  font-family: "Rubik", sans-serif;
  padding: 2.5rem;
}
.our-blog__mainImg {
  display: flex;
  justify-content: space-around;
}
.our-blog__img {
  padding: 0.5rem;
  max-height: 300px;
}
.our-blog__italytittle {
  font-family: "Playfair Display", serif;
  line-height: 3rem;
  font-size: large;
  padding: 0.5rem;
}
.our-blog__rightText {
  font-family: "Rubik", sans-serif;
  padding: 1rem;
  align-items: center;
}
.our-blog__readmoretext {
  text-decoration: none;
  color: #ffa500;
}
.our-blog__morelogo {
  width: 2rem;
  filter: invert(51%) sepia(63%) saturate(4944%) hue-rotate(7deg) brightness(108%) contrast(103%);
}
.our-blog__readmore {
  padding-left: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.trip-planners {
  background-color: pink;
}

.travelers-experiences__text {
  max-width: 3ch;
  font-family: "Playfair Display", serif;
  padding: 0.5rem 0rem;
  font-size: 1.5rem;
  border-bottom-width: thick;
  border-bottom: 2px solid #ffa500;
  text-underline-offset: 0.8rem;
}
.travelers-experiences__smallText {
  padding-top: 1rem;
  padding: 1rem;
}

.news-lettertext {
  background-color: rebeccapurple;
}

.first-section {
  padding: 1rem;
  background-image: url(/img/header.avif);
  background-size: cover;
  background-position: center;
}
.first-section__nav {
  visibility: hidden;
}
.first-section__nav ul {
  display: flex;
  flex-direction: row;
}
.first-section__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0rem;
}
.first-section__header img {
  height: 1rem;
}
.first-section .head-title {
  padding-bottom: 5rem;
}
.first-section .head-title__text {
  color: white;
  padding: 7rem 0;
}
.first-section .head-title__text h1 {
  font-size: 2.5rem;
}
.first-section .head-title__text p {
  font-size: 1.1rem;
}
.first-section .head-title__form {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.first-section .head-title__form form {
  padding: 1rem;
}
.first-section .head-title__form--flex {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}
.first-section .head-title__form input {
  border: none;
  border-bottom: 1px solid black;
}
.first-section .head-title__book-now {
  background-color: rgb(255, 134, 64);
  padding: 1.5rem;
  border-radius: 0rem 0rem 1rem 1rem;
}
.first-section .head-title__book-now li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-size: 2rem;
}
.first-section .head-title__book-now li img {
  height: 1rem;
}

.header-menu img {
  height: 1.5rem;
}

.special-offer {
  padding: 1rem;
}
.special-offer__title {
  font-family: "Playfair Display", serif;
  padding: 0.5rem 0rem;
  font-size: 1.5rem;
  border-bottom-width: thick;
  border-bottom: 2px solid #ffa500;
  text-underline-offset: 0.8rem;
}
.special-offer > p {
  padding: 2rem 0rem;
  font-size: 1.2rem;
}

.offer-pics {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: hidden;
}
.offer-pics__pic1 {
  min-width: 18rem;
  border-radius: 1rem 1rem 1rem 1rem;
  background-image: url(/img/special-offer-1.png);
  background-size: auto;
}
.offer-pics__pic1-main {
  height: 250px;
}
.offer-pics__pic1-text {
  padding: 1rem;
  border-radius: 0rem 0rem 1rem 1rem;
  background-color: rgb(255, 246, 234);
}
.offer-pics__pic1-text h3 {
  font-family: sans-serif;
  font-size: 1.5rem;
}
.offer-pics__pic1-text > p {
  font-size: 1.2rem;
  line-height: 1.3em;
}
.offer-pics__pic1-stars {
  padding: 0.5rem 0rem 1rem 0rem;
}
.offer-pics__pic1-bottom {
  padding: 1rem 0rem;
}
.offer-pics__pic1-bottom p {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
}
.offer-pics__pic1-bottom span {
  padding: 0rem rem;
  color: #ff7700;
  font-size: 2rem;
}
.offer-pics__pic1-bottom div {
  font-size: 1.2rem;
  background-color: #ff7700;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  width: 5rem;
}
.offer-pics__pic2 {
  min-width: 18rem;
  border-radius: 1rem 1rem 1rem 1rem;
  background-image: url(/img/special-offer-2.png);
  background-size: auto;
}
.offer-pics__pic3 {
  min-width: 18rem;
  border-radius: 1rem 1rem 1rem 1rem;
  background-image: url(/img/special-offer-3.png);
  background-size: auto;
}

.trip-planners {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
}
.trip-planners h2 {
  font-family: "Playfair Display", serif;
  padding: 0.5rem 0rem;
  font-size: 1.5rem;
  border-bottom-width: thick;
  border-bottom: 2px solid #ffa500;
  text-underline-offset: 0.8rem;
}
.trip-planners__nav > p {
  padding: 2rem 0rem;
  font-size: 1.2rem;
}
.trip-planners__button {
  font-size: 1.2rem;
  background-color: #ff7700;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  width: 9rem;
  margin-bottom: 2rem;
}
.trip-planners__img {
  padding: 2rem 0rem;
}
.trip-planners__img > div {
  display: flex;
  justify-content: space-between;
}
.trip-planners__img > img {
  width: 287px;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
}
.trip-planners__stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 800px) {
  .first-section__nav {
    visibility: visible;
  }
  .first-section .head-title {
    padding-bottom: 5rem;
  }
  .first-section .head-title__form {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .first-section .head-title__form form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
  }
  .first-section .head-title__form--flex {
    width: 10rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  }
  .first-section .head-title__book-now {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-radius: 0rem 1rem 1rem 0rem;
  }
  .destinations {
    background-color: white;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
  }
  .destinations__photos {
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .destinations__imgHeight {
    max-height: 499px;
  }
  .our-blog {
    display: flex;
    flex-direction: column;
  }
  .our-blog__tittletext {
    padding-left: 1rem;
  }
  .our-blog__smalltext {
    font-size: large;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .our-blog__img {
    max-height: 800px;
  }
  .our-blog__mainImg {
    justify-content: normal;
    display: flex;
  }
  .our-blog__italytittle {
    padding-bottom: 2rem;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
  }
  .our-blog__forDesktop {
    display: flex;
    flex-direction: row;
  }
  .our-blog__text {
    font-size: 2rem;
  }
  .our-blog__readmoretext, .our-blog__morelogo {
    padding: 1rem;
  }
}
@media (min-width: 1130px) {
  .first-section .head-title__form form {
    gap: 3rem;
  }
  .first-section .head-title__book-now {
    height: 60px;
    border-radius: 0rem 1rem 1rem 0rem;
  }
}

/*# sourceMappingURL=style.css.map */
