*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

svg {
  display: block;
  max-width: 100%;
}

select {
  font: inherit;
}

h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.first-section {
  background-color: aqua;
}

.destinations {
  background-color: grey;
}

.special-offer {
  background-color: brown;
}

.our-blog {
  background-color: chartreuse;
}

.trip-planners {
  background-color: pink;
}

.travelers-experiences {
  background-color: yellow;
}

.news-lettertext {
  background-color: rebeccapurple;
}

.first-section {
  padding: 1rem;
  background-image: url(/img/header.png);

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      height: 1rem;
    }
  }
  .head-title {
    &__text {
      color: white;
      padding: 5rem 0;
      h1 {
        font-size: 2.5rem;
      }
      p {
       font-size: 1.1rem;
      }
    }
    &__form {
      padding: 1rem;
      background-color: white;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      input {
        border: none;
        border-bottom: 1px solid black;
      }
    }
  }
}

.header-menu {
  img {
    height: 1.5rem;
  }
}
